@model IEnumerable<Ptixiaki201.OrderFoodTab>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>My Concierge</title>
    <link rel="stylesheet" href="~/Content/jquery.mobile-1.2.0.css" />
</head>
<body>
    <div data-role="content">
        <ul data-role="listview" data-inset="true" data-split-theme="d" data-mini="true">
            
            @foreach (var item in Model.OrderBy(pro=>pro.foodCategory))
            { 
                <li data-role="list-divider">@Html.DisplayFor(modelitem=>item.foodCategory)</li>
                <li data-theme="d" data-icon="false">
                    <a href="@Url.Action("Order", "Ptixiaki", new {id=item.Id })">
                    <h4 class="ui-li-heading " style="margin-left: 15px">@Html.DisplayFor(modelitem => item.foodTitle)</h4>
                    <p class="ui-li-desc" style="margin-left: 15px;width:70%">@Html.DisplayFor(modelitem => item.foodDescription)</p>
                    <b style="float: right; margin-top: -45px; margin-right: 80px">€@Html.DisplayFor(modelitem => item.foodPrice)</b>
                    @*<a href="#">@Html.ActionLink("Order", "Order", new { id = item.Id })*@ </a>
                </li>
                
               
            }
            <br />
        </ul>
    </div>
    <p>@Html.ActionLink("Back to Menu","Index","Start")</p>
</body>
</html>
